<html>
  <head>
    <title>Welcome Document Classifier</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Welcome page</h1>
      </div>
      <div id="main">
      <p>Welcome to the document classification portal!</p>
	  <p>You need a token to use the API, send an email to the administrator</p>
	  <p><a href="mailto:robinmhj111@gmail.com">Contact Administrator</a>
      </div>
    </div>
  </body>
</html>